<th:block fragment="script">
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <!--bootstrap js-->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/v5.3.0/js/bootstrap.bundle.min.js"></script>
    <!--font-awesome js-->
    <script src="/assets/js/Font-Awesome.js"></script>
    <!-- slick slider -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- isotop js -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- counter up js -->
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/jquery.countup.min.js"></script>
    <!-- nice select js -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <!-- venobox js -->
    <script src="/assets/js/venobox.min.js"></script>
    <!-- sticky sidebar js -->
    <script src="/assets/js/sticky_sidebar.js"></script>
    <!-- wow js -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- ex zoom js -->

    <!--main/custom js-->
    <script src="/assets/js/main.js"></script>

    <script src="/assets/js/jquery.validate.js"></script>
    <script src="/assets/js/appBase.js"></script>
    <script src="/assets/js/magnific-popup-1.1.0.js"></script>
    <script src="/assets/js/notify-0.4.1.min.js"></script>
    <script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>

</th:block>