<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <title>Đăng ký || Nhà Hàng Cơm Niêu HTD</title>
  <link rel="icon" href="/assets/images/logo_icon.png">
  <th:block th:replace="layout/header"/>
</head>
<style>
  label.error {
    display: list-item;
  }

  input.error {
    border: solid 1px red;
  }

  .error-message {
    color: red;
    width: 500px;
    float: left;
    padding-left: 60px;
  }
</style>

<body>

<!--=============================
    TOPBAR START
==============================-->
<section class="tf__topbar">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-sm-6 col-md-8">
        <ul class="tf__topbar_info d-flex flex-wrap d-none d-sm-flex">
          <li>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWsdBqCPSBskMPRHHvkHmJPTTVDJNZxbQLCKxmPBNxBXqkvdhLTzVMCHbfmzgMLbvtlKsktBb" target="_blank">nguyenphuocdat18@gmail.com</a>
          </li>
          <li class="d-none d-md-block"><a href="https://www.facebook.com/groupcall/ROOM:/?call_id=1819783208&has_video=false&initialize_video=false&is_e2ee_mandated=false&nonce=l91hm9og6xc9&referrer_context=zenon_precall&thread_type=1&users_to_ring[0]=100012718507997&use_joining_context=true&peer_id=100012718507997"><i class="fas fa-phone-alt"></i>
            +0856419555</a></li>
        </ul>
      </div>
      <div class="col-xl-6 col-sm-6 col-md-4">
        <ul class="topbar_icon d-flex flex-wrap">
          <li><a href="https://www.facebook.com/tranthibaothi98" target="_blank"><i class="fab fa-facebook-f"></i></a> </li>
          <li><a href="https://mail.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a> </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--=============================
    TOPBAR END
==============================-->


<!--=============================
    MENU START
==============================-->
<nav class="navbar navbar-expand-lg main_menu">
  <div class="container" style="justify-content: center">
    <a class="navbar-brand">
      <img src="/assets/images/logo.png" alt="RegFood" class="img-fluid">
    </a>
  </div>
</nav>
<!--=============================
    MENU END
==============================-->


<!--=========================
    SIGN UP START
==========================-->
<section class="tf__signin pt_100 xs_pt_70 pb_100 xs_pb_70" style="margin-top: 100px">
  <div class=" container">
    <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s">
      <div class="col-xl-5 col-sm-10 col-md-8 col-lg-6">
        <div class="tf__login_area">
          <h2>Welcome back!</h2>
          <p>sign up to continue</p>
          <div class="error-message"></div>
          <form id="frmRegister" class="sign-up-form">
            <div class="row">
              <div class="col-xl-12">
                <div class="tf__login_imput">
                  <input type="text" id="fullNameReg" placeholder="Họ tên"/>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="tf__login_imput">
                  <input type="text" id="usernameReg" placeholder="Tên đăng nhập"/>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="tf__login_imput">
                  <input type="password" id="passwordReg" placeholder="Mật khẩu"/>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="tf__login_imput">
                  <input type="email" id="emailReg" placeholder="Email"/>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="tf__login_imput">
                  <input type="tel" id="phoneReg" placeholder="Số điện thoại" />
                </div>
              </div>
              <div class="col-xl-12">
                <div class="tf__login_imput">
                  <button type="button" id="btnRegister" class="btn-search">Đăng ký</button>
                </div>
              </div>
            </div>
          </form>
          <p class="or"><span>or</span></p>
          <ul class="d-flex">
            <li><a href="https://www.facebook.com/winanh.1803"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://mail.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
          </ul>
          <p class="create_account">Không có tài khoản ? <a href="/login">Đăng nhập</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========================
    SIGN UP END
==========================-->


<!--=============================
    FOOTER START
==============================-->

<!--=============================
    FOOTER END
==============================-->


<!--=============================
    SCROLL BUTTON START
==============================-->
<!--=============================
    SCROLL BUTTON END
==============================-->


<!--jquery library js-->
<th:block th:replace="layout/script"/>

<script>
  const page = {
    urls: {
      register: AppBase.API_REGISTER
    },
    elements: {},
    commands: {},
    dialogs: {
      elements: {},
      commands: {}
    },
  }
  page.elements.frmRegister = $("#frmRegister");
  page.elements.fullNameReg = $("#fullNameReg");
  page.elements.usernameReg = $("#usernameReg");
  page.elements.passwordReg = $("#passwordReg");
  page.elements.emailReg = $("#emailReg");
  page.elements.phoneReg = $("#phoneReg");

  page.elements.btnRegister = $("#btnRegister");

  page.elements.errorRegister = $('.error-message')



  page.commands.register = () => {
    let user = {
      fullName : page.elements.fullNameReg.val(),
      username : page.elements.usernameReg.val(),
      password : page.elements.passwordReg.val(),
      email : page.elements.emailReg.val(),
      phone : page.elements.phoneReg.val(),
      role : {
        id : 2,
        code: 'USER'
      }
    }

    $.ajax({
      type: "POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      url: page.urls.register,
      data: JSON.stringify(user)
    }).done((resp) => {
      AppBase.Notify.showSuccessAlert("Successful account registration !");
      setTimeout(function () {

        page.elements.usnLogin.val(page.elements.usernameReg.val());
        page.elements.pwdLogin.val(page.elements.passwordReg.val());
        container.classList.remove("sign-up-mode");
        // page.commands.switchLoginForm();
      }, 1000);
      page.elements.errorRegister.empty();
      window.location.href = "/login";
    }).fail(function (jqXHR) {
      // page.elements.frmRegister[0].reset();

      if (jqXHR.responseJSON) {
        if (jqXHR.responseJSON.message) {
          AppBase.Notify.showErrorAlert(jqXHR.responseJSON.message);
        }
        else {
          let str = '<ul>';
          $.each(jqXHR.responseJSON, (k, v) => {
            str += `<li>${v}</li>`;
          })
          str += '</ul>'
          page.elements.errorRegister.append(str);
          page.elements.errorRegister.removeClass('hide').addClass('show');
        }
      }
      else {
        AppBase.Notify.showErrorAlert("Something went wrong, please try again");
      }
    });
  }

  page.elements.frmRegister.validate({
    rules: {
      fullNameReg: {
        required: true,
        minlength: 5,
        maxlength: 50
      },
      usernameReg: {
        required: true,
        minlength: 5,
        maxlength: 30
      },
      passwordReg: {
        required: true,
        minlength: 6,
        maxlength: 30
      },
      emailReg: {
        required: true,
        email: true,
        maxlength: 100
      },
      phoneReg: {
        required: true,
        number:true,
        minlength: 10,
        maxlength: 12,
      },
    },
    messages: {
      fullNameReg: {
        required: "Please enter your full name.",
        minlength: "Full Name must be at least 5 characters long.",
        maxlength: "Full Name cannot exceed 50 characters."
      },
      usernameReg: {
        required: "Please enter your username.",
        minlength: "Username must be at least 5 characters long.",
        maxlength: "Username cannot exceed 30 characters."
      },
      passwordReg: {
        required: "Please enter your password.",
        minlength: "Password must be at least 6 characters long.",
        maxlength: "Password cannot exceed 30 characters."
      },
      emailReg: {
        required: "Please enter your email address.",
        email: "Please enter a valid email address.",
        maxlength: "Email cannot exceed 100 characters."
      },
      phoneReg: {
        required: "Please enter your phone number.",
        number: "Please enter a valid phone.",
        minlength: "Your phone number must be at least 10 digits long.",
        maxlength: "Your phone number must not exceed 12 digits.",
      }
    },
    errorLabelContainer: "#frmRegister .error-message",
    errorPlacement: function (error, element) {
      error.appendTo("#frmRegister .error-message");
    },
    showErrors: function (errorMap, errorList) {
      if (this.numberOfInvalids() > 0) {
        $(".error-message").removeClass("hide").addClass("show");
      } else {
        $(".error-message").removeClass("show").addClass("hide").empty();
        $("#frmRegister input.error").removeClass("error");
      }
      this.defaultShowErrors();
    },
    submitHandler: function () {
      page.commands.register();
    }
  })

  page.initializeControlEvent = () => {

    page.elements.btnRegister.on("click", function () {
      page.elements.frmRegister.trigger('submit');
      // page.commands.register();
    });
  }

  $(() => {
    page.initializeControlEvent();
  });

</script>

</body>

</html>
